#define these variables in a .env file in the root containing the docker-compose.yaml file
MYSQL_HOST=mysql
MYSQL_PASSWORD=password
MYSQL_DATABASE=i3crm
MYSQL_USER=user
MYSQL_PASSWORD=userPassword
MYSQL_ROOT_PASSWORD=rootPassword
MYSQL_PORT=3306
PAYMENT_DOMAIN_REDIRECT_URL_BASE=http://rumplestilzken.com:17000/
